.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  font-size: 14px;
  border-radius: var(--border-radius);
  outline: none;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;

  .icon {
    margin-right: 10px;
    margin-top: 2px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5!important;
    cursor: not-allowed;
  }
}

// button
.button {
  color: var( --typography-button-primary);
  background-color: var( --background-button-primary);

  &.primary {
    color: var( --typography-button-primary);
    background-color: var( --background-button-primary);
  }

  &.secondary {
    color: var( --typography-button-secondary);
    background-color: var( --background-button-secondary);
  }

  &.positive {
    color: var( --typography-button-primary);
    background-color: var( --background-button-positive);
  }

  &.negative {
    color: var( --typography-button-primary);
    background-color: var( --background-button-negative);
  }
}