// field
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 14px;
}

// label
.form-label {
  margin-bottom: 5px;
}

// asterisk
.form-asterisk {
  margin-left: 2.5px;
}

// error
.form-error {
  margin-top: 5px;
}

.form-generic-error {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: var(--border-radius);
  font-size: 14px;
  text-align: center;
}